* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

.sign-box {
  /* min-width: 35%; */
  height: 90vh;
  margin: 0vw;
  padding: 5vw;
  position: relative;
}

.sign-label {
  text-align: center;
  margin: auto;
  width: 35%;
  padding: 1.5rem;
}

.sign-form {
  width: 35%;
  display: block;
  margin: auto;
  padding: 1rem;
  background-color: #c6f1e7;
}

.sign-box input {
  display: block;
  width: 90%;
  padding: 1rem;
  margin: 0.9vw 0.9vw;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
}

.submitBtn {
  border: 0;
  border-radius: 5px;
  background-color: #b1e693;
  padding: 1rem;
  color: #ffff;
  margin: 1.5vw 0.9vw;
  width: 90%;
  text-transform: uppercase;
  cursor: pointer;
  /* change the mouse corsor to finger pointer */
  transition: 1s background ease;
  font-size: 20px;
  letter-spacing: 4px;
}

.submitBtn:hover {
  background-color: #cdf2ca;
  color: #fff;
  font-size: 20px;
}
