h1 {
  font-size: 4rem;
  line-height: 1.2em;
  color: #1fb57b;
  margin: 0.5 rem;
  font-weight: bold;
  letter-spacing: 6px;
}

form {
  display: block;
  justify-content: center;
}

label {
  color: #f36b6b;
  font-size: 2rem;
  line-height: 2em;
  font-weight: bold;
  margin: 1.5rem;
}

button {
  display: block;
}
