/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0; */
/* border: 1px solid red; */
/* } */

.project-box {
  height: 100%;
  margin: 0vw;
  padding: 5vw;
  position: relative;
}

.project-label {
  text-align: center;
  margin: auto;
  width: 80%;
  padding: 1.5rem;
}

.project-form {
  width: 50%;
  display: block;
  margin: auto;
  padding: 1rem;
  background-color: #c6f1e7;
}

.project-box input {
  display: block;
  width: 95%;
  padding: 1rem;
  margin: 0.9vw 0.9vw;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
}

.startButton {
  border: 0;
  border-radius: 5px;
  background-color: #b1e693;
  padding: 1rem;
  color: #ffff;
  margin: 1.5vw 0.9vw;
  width: 95%;
  text-transform: uppercase;
  cursor: pointer;
  /* change the mouse corsor to finger pointer */
  transition: 1s background ease;
  font-size: 20px;
  letter-spacing: 4px;
}

.startButton:hover {
  background-color: #cdf2ca;
  color: #fff;
  font-size: 20px;
}

h1 {
  font-size: 4rem;
  line-height: 1.2em;
  color: #11cbd7;
  margin: 0.5 rem;
  font-weight: bold;
}

label {
  color: #ec9cd3;
  font-size: 2rem;
  line-height: 2em;
  font-weight: bold;
  margin: 1.5rem;
}
