html,
body {
  background-color: #ffffff;
  font-family: monospace;
  height: 100%;
  margin: 0;
}

.header {
  background-image: url(./pages/images/streetscholar3.png),
    url(./pages/images/graffiti.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: center, left;
  /* background-color: #f8f7f3; */
}

h3 {
  font-size: 1.5vw;
  font-weight: bold;
}

.read {
  margin: auto;
  padding: 2rem;
}

.read-project {
  width: 60%;
  display: block;
  margin: auto;
  padding: 1.5rem;
  background-color: #c6f1e7;
}

.read h2,
h3 {
  width: 80%;
  margin: 1rem;
  padding: 0.5rem;
  font-weight: bolder;
}

.login {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.delete-project button {
  float: inline-end;
  border: 0;
  border-radius: 5px;
  background-color: #b1e693;
  padding: 1rem;
  color: #ffff;
  margin: 1.5vw 0.9vw;
  width: 15%;
  text-transform: uppercase;
  cursor: pointer;
  /* change the mouse corsor to finger pointer */
  transition: 1s background ease;
  font-size: 20px;
  letter-spacing: 4px;
}

.delete-project button:hover {
  background-color: #cdf2ca;
  color: #fff;
  font-size: 20px;
}

#project-list {
  margin: 50px 50px 50px 50px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  column-gap: 15px;
  row-gap: 20px;
  border: none;
}

.categories-box {
  height: 100%;
  margin: 2vw;
  padding: 2vw;
  position: relative;
}

.category-label {
  text-align: center;
  margin: auto;
  padding: 1.5rem;
}

.category-list {
  margin: 20px 50px 50px 50px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  border: none;
  background-color: #c6f1e7;
}

.column {
  /* flex: 25%; */
  text-align: center;
}

.category-images {
  max-width: 100%;
  max-height: 75%;
  border: 0;
  border-radius: 5px;
}

.instructions {
  height: 100%;
  margin: 2vw;
  padding: 2vw;
  position: relative;
}

.howto-list {
  display: block;
  padding: 3rem;
  margin: 50px 50px 50px 50px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #c6f1e7;
}

.howto {
  text-align: center;
  margin: auto;
  width: 80%;
  padding: 1.5rem;
}

ol {
  line-height: 1.5rem;
  margin: 5px 5px 15px;
  padding: 1.5rem;
}

li {
  margin: 1rem;
  list-style-type: decimal;
  list-style-position: inside;
  position: relative;
  padding: 0px 5px 0px 30px;
  color: #ec9cd3;
  font-size: 2rem;
  line-height: 2em;
  border-radius: 5px;
  background-color: #ffffff;
}

.footer {
  margin-top: 4rem;
  padding: 1rem;
  overflow: auto;
  background-color: #fa4659;
  color: #ffffff;
  width: 100%;
  background-image: url(./pages/images/streetscholar3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: lighten;
}
