/* Nav {
  background: #ffffff;
  height: 85px;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}

NavLink {
  color: #32a850;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

Bars {
  display: none;
  color: #808080;
  @media screen and (max-width: 768px) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}

NavMenu {
  display: flex;
  align-items: center;
  margin-right: 24px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

NavBtn {
  display: flex;
  align-items: center;
  margin-right: 34px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

NavBtnLink {
  border-radius: 4px;
  background: #ddffbc;
  padding: 10px 22px;
  color: #000000;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: 24px;
  &:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #808080;
  }
} */
